@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('assets/styles/reset.css');
@import url('assets/styles/variable.css');
@import url('./assets/styles/button.css');

@import url('assets/styles/header.css');
@import url('assets/styles/main.css');
@import url('assets/styles/footer.css');

/** Main styles* */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    background-color: var(--background);
    color: var(--text-primary);
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    line-height: 1.6;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: var(--size-large);
    background-image: url('assets/img/bg.webp');
    background-size: contain;
    background-position-y: bottom;
    background-position-x: 0px;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    body {
        background-size: 768px;
    }
}

h1 {
    color: var(--text-secondary);
    font-size: var(--font-size-x-large);
    font-weight: 200;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    color: var(--text-secondary);
}

h2 {
    font-size: var(--font-size-heading);
}

h3 {
    font-size: var(--font-size-medium);
}

h4 {
    font-size: var(--font-size-small);
}

h5 {
    font-size: var(--size-large);
}

a,
li {
    font-size: var(--font-size-medium);
}

p {
    font-size: var(--font-size-small);
    font-weight: 400;
    color: var(--text-secondary);
}

.light-bg {
    position: absolute;
    top: -180px;
    left: -150px;
    width: 34%;
    aspect-ratio: 1 / 1;
    background: radial-gradient(circle at 50% 50%,
            rgba(255, 255, 255, 0.15),
            transparent 70%);
    pointer-events: none;
    border-radius: 50%;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    padding: var(--size-small) var(--size-large);
    border-radius: var(--border-radius-medium);
    border: none;
    cursor: pointer;
    transition: background var(--transition-duration) ease;
    gap: var(--size-small);
    text-decoration: none;
    white-space: nowrap;
}

svg {
    width: 24px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(4px);
    border-radius: var(--border-radius-medium);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-50);
    border-radius: var(--border-radius-large);
    border: 2px solid var(--main-50);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-00);
}

@media (max-width: 768px) {
    html {
        font-size: var(--font-size-small);
    }

    h1 {
        font-size: var(--font-size-large);
    }

    h2 {
        font-size: var(--font-size-heading-x);
    }

    h3 {
        font-size: var(--font-size-small);
    }

    a,
    li {
        font-size: var(--font-size-small);
    }

    button {
        font-size: var(--font-size-small);
        padding: var(--size-x-small) var(--font-size-medium);
        border-radius: var(--border-radius-medium);
        gap: var(--size-x-small);
    }
}