main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
    scroll-behavior: smooth;
    color: var(--text-secondary);
}

.main_content {
    width: 100%;
    max-width: 1640px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: var(--size-x-large);
    gap: var(--size-extra-large);
}

.section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--size-large);
    gap: var(--size-large);
    border-radius: var(--border-radius-x-large);
    overflow: hidden;
}

.gradient {
    background-color: var(--section-bg);
}

.gradient::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: var(--border-radius-x-large);
    padding: 1px;
    z-index: 0;
    pointer-events: none;

    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.1));
    mask:
        linear-gradient(to bottom,
            var(--white) 0%,
            var(--white) 0%) content-box,
        linear-gradient(to bottom,
            var(--white) 0%,
            var(--white) 0%);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    opacity: 0.8;
}

.gradient::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: var(--border-radius-x-large);
    opacity: 0;
    pointer-events: none;

    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0) 100%);
    z-index: 0;
}

.moonshine-light {
    position: absolute;
    border-radius: 50%;
    background: var(--moonshine-color);
    pointer-events: none;
    z-index: 1;

    width: var(--moonshine-radius);
    aspect-ratio: 1 / 1;

    filter: blur(var(--moonshine-blur));
    opacity: 0.45;
}

.section h2,
.section p,
.section li,
.main_self-introduction_about-me_text_with_list {
    color: var(--text-secondary);
    z-index: 2;
}

.section li,
.section a,
.section p,
.section span {
    font-size: var(--font-size-small);
}

.main_self-introduction {
    display: grid;
    grid-template-columns: auto 240px;
    grid-template-rows: min-content max-content;
    gap: var(--size-large);
}

.main_self-introduction h2 {
    grid-column: 1 / 3;
}

.main_self-introduction_photo {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: var(--size-large);
}

.main_self-introduction_photo img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-large);
}

.main_self-introduction_about-me {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: var(--size-medium);
    line-height: 1.5;
}

.main_self-introduction_about-me_text_with_list {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--size-x-small);
    font-size: var(--font-size-small);
}

.main_self-introduction_about-me_text::first-letter,
.main_self-introduction_about-me_text_with_list p::first-letter {
    padding-left: var(--size-x-large);
}

.main_self-introduction_about-me_text ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 48px;
}


.main_self-introduction_about-me_text ul li {
    font-size: var(--font-size-x-small);
    line-height: 1.4;
    list-style: disc;


}

.main_self-introduction_button {
    width: 100%;
    height: fit-content;
    z-index: 2;
}

.main_self-introduction_button button {
    width: 100%;
}

.main_contacts {
    width: 100%;
    max-width: 720px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main_contacts_list {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--size-medium);
    padding-left: 48px;
    gap: var(--size-x-small);
}

.main_contacts_list li {
    color: var(--text-primary);
    list-style-type: disc;
}

.main_contacts_list li span {
    color: var(--text-secondary);
}

.main_skills-tags h2 {
    text-align: center;
}

.main_skills-tags_tag-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-medium);
    justify-content: center;
}

.skills-tags_tag-list_item {
    position: relative;
    width: 200px;
    height: 110px;
    perspective: 500px;
    transform-style: preserve-3d;
    cursor: pointer;
}

.skills-tags_tag-list_item_front,
.skills-tags_tag-list_item_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-small);
    border-radius: var(--border-radius-x-large);
    perspective: 500px;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.skills-tags_tag-list_item_front {
    font-weight: 600;
    transform: rotateX(0deg);
    z-index: 1;
}

.skills-tags_tag-list_item_back {
    transform: rotateX(180deg);
    font-size: var(--font-size-x-small);
    line-height: 1.4;
    background: var(--secondary-100);
    color: var(--main-100);
    z-index: 2;

}

.skills-tags_tag-list_item:hover .skills-tags_tag-list_item_front {
    transform: rotateX(180deg);
}

.skills-tags_tag-list_item:hover .skills-tags_tag-list_item_back {
    transform: rotateX(0deg);
}

.flip-hint {
    position: absolute;
    top: var(--size-small);
    right: var(--size-small);
    font-size: var(--font-size-medium);
    opacity: 0.8;
    pointer-events: none;
    transition: opacity var(--transition-duration);
    z-index: 3;
}

.skills-tags_tag-list_item:hover .flip-hint {
    opacity: 0;
}

.code-example_subtitle {
    display: none;
}

.code_example_list {
    display: flex;
    flex-direction: column;
    gap: var(--size-medium);
}

.code_item {
    display: flex;
    flex-direction: column;
    gap: var(--size-small);
    padding: var(--size-small);
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}

.code_item input {
    display: none;
}

.code_title {
    font-size: var(--font-size-medium);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.code_title::after {
    content: "+";
    font-size: var(--font-size-large);
    transition: transform var(--transition-duration);
}

.code_item input:checked+.code_title::after {
    transform: rotate(45deg);
}

.code_content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all var(--transition-duration) ease;
}

.code_item input:checked~.code_content {
    max-height: 950px;
    opacity: 1;
    transform: translateY(0);
}

pre {
    background: var(--main-100);
    padding: var(--size-small);
    border-radius: var(--border-radius-medium);
    overflow-x: auto;
}

.main_projects {
    align-items: center;
}

.projects_slider {
    position: relative;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: var(--size-medium);
    overflow: hidden;
}

.projects_slider input {
    display: none;
}

.projects_slides {
    width: 300%;
    display: grid;
    height: max-content;
    grid-template-columns: repeat(6, 16.67%);
    background: var(--main-100);
    transition: transform 0.6s ease;
}

#slide1:checked~.projects_slides {
    transform: translateX(0);
}

#slide2:checked~.projects_slides {
    transform: translateX(-33.333%);
}

#slide3:checked~.projects_slides {
    transform: translateX(-66.666%);
}

.projects_controls {
    display: flex;
    justify-content: center;
    gap: var(--size-small);
    margin-top: var(--size-x-large);
}

.projects_controls label {
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--main-00);
    border: 1px solid var(--secondary-50);
    cursor: pointer;
    transition: background var(--transition-duration);
}

#slide1:checked~.projects_controls label[for="slide1"],
#slide2:checked~.projects_controls label[for="slide2"],
#slide3:checked~.projects_controls label[for="slide3"] {
    background: var(--secondary-50);
}

.projects_controls label[for="slide4"],
.projects_controls label[for="slide5"],
.projects_controls label[for="slide6"] {
    display: none;
}

#slide4:checked~.projects_controls label[for="slide4"],
#slide5:checked~.projects_controls label[for="slide5"],
#slide6:checked~.projects_controls label[for="slide6"] {
    background: var(--secondary-50);
}

.project_card {
    width: calc(100% - 8px);
    justify-self: center;
    height: 100%;
    display: grid;
    grid-template-columns: 30% auto;
    padding: var(--size-medium);
    gap: var(--size-medium);
    border-radius: var(--border-radius-medium);
    background: var(--secondary-100);
    color: var(--main-100);
}

.project_cards_link {
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.project_cards_link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--secondary-50);
    cursor: pointer;
}

.project_cards_card_info-wrap {
    width: 100%;
    display: grid;
    grid-template-rows: min-content auto min-content;
    gap: var(--size-medium);
}

.project_cards_card_info-wrap h4,
.project_cards_card_info-wrap span {
    color: var(--main-00);
}

.project_cards_card_info-wrap h4 {
    font-weight: 600;
    font-size: var(--font-size-large);
}

.project_cards_card_info-wrap span {
    line-height: 1.3;
}

.project_cards_card_info-wrap a {
    justify-self: flex-end;
    width: fit-content;
    display: flex;
    gap: var(--size-small);
    align-items: center;
    justify-content: flex-end;
    color: var(--main-100);
}

.project_cards_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    gap: var(--size-large);
}

.project_cards_info p {
    font-size: var(--font-size-large);
    color: var(--secondary-50);
}

.project_cards_info a,
.project_cards_info a button {
    width: auto;
}

.main_education {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: auto 700px;
    gap: var(--size-large);
}

.main_education_bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    display: flex;
    align-items: flex-end;
    pointer-events: none;
    z-index: 0;
}

.main_education_bg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.main_education_bg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: inherit;
    z-index: 1;
}

.main_education_titles {
    display: flex;
    flex-direction: column;
    gap: var(--size-extra-large);
    z-index: 2;
}

.main_education_titles h2 {
    padding-bottom: var(--size-extra-large);
}

.main_education_titles h4 {
    color: var(--white);
}

.main_education_cards {
    width: 100%;
    aspect-ratio: 2 / 1;
    border: 1px solid var(--secondary-00);
    border-radius: var(--border-radius-medium);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1rf);
    padding: var(--size-large);
    gap: var(--size-large);
    background: var(--main-100);
    z-index: 2;
}

.main_education_cards_card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, max-content) auto;
    padding: var(--size-medium);
    gap: var(--size-x-small);
    border: 1px solid var(--secondary-50);
    border-radius: var(--border-radius-medium);
    background: var(--main-100);
}

.main_education_cards_card:nth-of-type(1) {
    grid-template-rows: repeat(4, max-content) auto;
    background: var(--secondary-100);
    color: var(--main-50);
}

.main_education_cards_card:nth-of-type(1) h5 {
    color: var(--secondary-00);
}

.main_education_cards_card span:last-child {
    align-self: flex-end;
    justify-self: flex-end;
    font-weight: 600;
}

span.main_education_cards_card_tag {
    justify-self: flex-end;
    width: fit-content;
    padding: 2px 8px;
    border: 1px solid var(--secondary-50);
    font-size: var(--font-size-x-small);
    border-radius: 24px;
}

.main_education_titles_link button {
    width: 320px;
    max-width: 100%;
}

@media (max-width: 1024px) {
    .main_self-introduction_photo {
        background-image: url('../img/mini_bg.png');
        background-size: contain;
        background-position-y: bottom -20px;
        background-position-x: right -50px;
        background-repeat: no-repeat;
    }

    pre {
        font-size: var(--font-size-small);
    }

    .project_card {
        grid-template-columns: 1fr;
        grid-template-rows: max-content auto;
    }

    .project_cards_card_info-wrap {
        height: 100%;
    }

    .project_cards_card_info-wrap h4 {
        font-weight: 400;
        font-size: var(--font-size-medium);
    }

    .project_cards_card_info-wrap span {
        line-height: 1.1;
        font-size: var(--font-size-small);
    }

    .project_cards_card_info-wrap a {
        font-size: var(--font-size-small);
        align-self: self-end;
    }
}

@media (max-width: 915px) {
    .code-example_subtitle {
        display: inline;
    }
}

@media (max-width: 768px) {
    .main_content {
        padding: var(--size-large);
        gap: var(--size-large);
    }

    .section {
        padding: var(--size-medium);
        gap: var(--size-x-large);
    }

    .main_self-introduction {
        grid-template-columns: 1fr;
        grid-template-rows: min-content max-content;
    }

    .main_self-introduction h2 {
        justify-self: center;
        grid-column: 1 / 2;
    }

    .main_self-introduction_about-me {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-content: flex-start;
    }

    .main_self-introduction_photo {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        flex-direction: row;
        align-items: flex-start;
        background-position-y: bottom -500%;
        background-position-x: right -65%;
        background-size: 64%;
    }

    .main_self-introduction_photo img {
        width: 50%;
    }

    .main_self-introduction_button {
        padding-top: var(--size-x-large);
    }

    .main_contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    pre {
        font-size: var(--font-size-x-small);
    }

    .projects_slides {
        width: 600%;
    }

    #slide2:checked~.projects_slides {
        transform: translateX(-16.67%);
    }

    #slide3:checked~.projects_slides {
        transform: translateX(-33.333%);
    }

    #slide4:checked~.projects_slides {
        transform: translateX(-50%);
    }

    #slide5:checked~.projects_slides {
        transform: translateX(-66.666%);
    }

    #slide6:checked~.projects_slides {
        transform: translateX(-83.333%);
    }

    .projects_controls label[for="slide4"],
    .projects_controls label[for="slide5"],
    .projects_controls label[for="slide6"] {
        display: block;
    }

    .project_card {
        width: 100%;
    }

    .project_cards_link {
        max-width: 400px;
        justify-self: center;
    }

}

@media (max-width: 500px) {
    .skills-tags_tag-list_item {
        width: 100%;
        height: 80px;
    }
}