main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main_content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0 var(--size-medium);
    gap: var(--size-large);
}

.section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--size-large);
    gap: var(--size-large);
    border-radius: 16px;
    overflow: hidden;
}

.gradient {
    background-color: var(--section-bg);

}

.gradient::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    z-index: 0;

    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.1));
    mask:
        linear-gradient(to bottom,
            var(--white) 0%,
            var(--white) 0%) content-box,
        linear-gradient(to bottom,
            var(--white) 0%,
            var(--white) 0%);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    opacity: 0.8;
}

.gradient::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    transition: opacity var(--transition-duration) ease;

    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0) 100%);
    z-index: 0;
}

.gradient:hover::after {
    opacity: 0;
}

.moonshine-light {
    position: absolute;
    border-radius: 50%;
    background: var(--moonshine-color);
    z-index: 1;

    width: var(--moonshine-radius);
    aspect-ratio: 1 / 1;

    filter: blur(var(--moonshine-blur));
    opacity: 0.45;
}

.section h2,
.section p {
    color: var(--text-secondary);
    z-index: 2;
}

.section li {
    font-size: var(--font-size-small);
    color: var(--text-secondary);
}
}




@media (max-width: 768px) {
    .section {
        padding: var(--size-m);
        gap: var(--size-small);
    }
}